
	body, html {
  height: 100%;
}

body {
  display: block;
  justify-content: center;
  align-items: center;
  font-family: "fira-sans-2", Verdana, sans-serif;
}
.caption
{
  fill:#084B8A;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  font-family: "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: bold;
	
}
.subCaption
{
   fill:#084B8A;
   text-align: center;
   text-decoration: underline;
   text-transform: capitalize;
   font-family: "Times New Roman", Times, serif;
   font-style: normal;
   font-weight: bold;

}
.xAxisLabels
{
     fill:#298A08;
    writing-mode: tb-rl;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    font-family: "Times New Roman", Times, serif;
    font-style: normal;
}
.yAxisLabels
{
   fill:#298A08;
   text-align: center;
   text-decoration: none;
   text-transform: capitalize;
   font-family: "Times New Roman", Times, serif;
   font-style: normal;
}
.xAxisTitle
{
   fill:#084B8A;
   text-align: center;
   text-decoration: none;
   text-transform: capitalize;
   font-family: "Times New Roman", Times, serif;
   font-style: normal;
   font-weight: bold;
}
.yAxisTitle
{
   fill:#084B8A;
  writing-mode: tb-rl;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  font-family: "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: bold;
}
.xAxis 
{
  stroke: #084B8A;
  stroke-linecap:square;
}
.yAxis
{
  stroke: #084B8A;
  stroke-linecap:square;
  stroke-width :5;

}
.xAxisDivLine
{
  stroke: #084B8A;

  stroke-linecap:square;

}
.yAxisDivLine
{
  stroke-width :1;
  stroke: #084B8A;
  stroke-linecap:square;
}
.chart 
{
  position: relative;
  background: #F2F2F2;
  align-self: center;
  margin: auto;
  padding-right: 4%;
  padding-top: 3%;
  padding-left: 2%;
  padding-bottom: 2%;
  border: 3px solid #73AD21;
  align-items: center;
}
.plotLines{
	
    
    stroke: #298A08;
    stroke-width :2;
    stroke-linecap:square;
}
.plotDots
{
	stroke:#0B3861;
	fill: #298A08;
}
.chartContainer
{
    margin: auto;
    width: 100%;
    padding-left: 10%;
    padding-top: 1%;
    align-self: center;
    align-items: center;

}
.plotDots:hover { 
 fill: #298A08; 
 } 
